
src/cor64/\.vs/

src/cor64/cor64/obj/

src/cor64/cor64\.Tests/bin/

src/cor64/cor64\.Tests/obj/

src/cor64/packages/

src/cor64/cor64/bin/
/src/cor64/core64.BareMetal/obj/Debug
/src/cor64/cor64.BareMetal/bin/Debug
/src/cor64/cor64.BareMetal/obj/Debug

src/cor64/libmupen64/build/

src/cor64/MupenCoreWrapper/obj/Debug/
/src/N64AsmConsole/bin/Debug
/src/N64AsmConsole/obj/Debug
/src/RunN64/obj/Debug
/src/RunN64/bin/Debug

src/QtRunN64/bin/Debug/

src/QtRunN64/obj/Debug/

src/GtkRunN64/bin/Debug/

src/GtkRunN64/obj/Debug/

src/cor64/RunN64Forms/bin/Debug/

src/cor64/RunN64Forms/obj/Debug/

src/RunN64Forms/bin/Debug/

src/RunN64Forms/obj/Debug/

src/RunN64Forms/obj/Release/
/src/cor64/cor64.BareMetal/obj
/src/N64AsmConsole/bin/x64/Debug
/src/N64AsmConsole/obj
/src/RunN64/bin/x64/Debug
/src/RunN64/obj
/src/RunN64Forms/bin/x64/Debug
/src/RunN64Forms/obj/x64
/src/RunN64Forms/obj/x86
/src/N64AsmConsole/bin/x86/Debug
/src/RunN64/bin/x86/Debug
/src/RunN64Forms/bin/x86/Debug

src/RunN64/bin/x64/Release/

src/cor64/cor64\.BareMetal/bin/Release/
/src/N64AsmConsole/bin/x64/Release
