src/cor64/\.vs/
src/cor64/cor64/obj/
src/cor64/cor64\.Tests
src/cor64/packages/
src/cor64/core64.BareMetal/obj
src/N64AsmConsole/obj
src/RunN64/obj
src/cor64/cor64.CFloat/libcf/b/

.vscode
src/cor64/cor64\.CFloat/obj

bin/

src/cor64/cor64\.BareMetal/obj
