source https://www.nuget.org/api/v2
nuget ELFSharp
nuget Microsoft.NET.Test.Sdk
nuget nunit
nuget NUnit3TestAdapter
nuget OpenTK
nuget NLog
nuget SkiaSharp.NativeAssets.Linux
nuget glfw-net
nuget CommandLineParser